 div,tr, td {
    border: 1px solid rgb(36, 37, 38);
    padding: 3px;
    text-align: center;
    
}
.radio{
    border: 0px; 
    text-align: left;
}
.etd{
    border: 1px solid rgb(61, 37, 19);
    padding: 3px;
    text-align: center;

}   
